@font-face {
    font-family: 'Qwigley-Regular';
    src: url(../fonts/Qwigley-Regular.ttf) format('truetype');
} 

@font-face {
    font-family: 'PlayfairDisplay-Medium';
    src: url(../fonts/PlayfairDisplay-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url(../fonts/PlayfairDisplay-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-light';
    src: url(../fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --bgColor: #ffffff;
    --primaryColor: #2C2B30;
    --secondaryColor: #4f4f51;
    --lightColor: #D6D6D6;
    --accentColor: #F2C4CE;
    --darkAccentColor: #F5BF7C;
    --primaryAccentColor: #EF8354;
}

body {
    background: var(--bgColor);
    color: var(--primaryColor);
    font-family: 'Montserrat-light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-family: 'PlayfairDisplay-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--bgColor);
    font-size: 1.5rem;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header-id {
    padding: 20px 8%;
}

footer {
    padding: 40px 0;
}

a {
    text-decoration: none;
    color: var(--bgColor);
    font-size: 1.2rem;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

.flex-nav ul {
    list-style: none;
    display: flex;
}

.flex-nav li {
    display: inline-block;
    padding: 0 10px;
}

.container {
    background: linear-gradient(-45deg, rgba(242, 196, 206),  rgba(221, 40, 146), rgba(50, 25, 79), rgba(122, 101, 149));
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
.hero {
    display: flex;
    padding: 10% 15%;
    align-items: center;
    justify-content: center;
    color: var(--bgColor);
    font-size: 18px;
    text-align: center;
}

.hero img {
    height: 222px;
    width: 240px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

h2 {
    color: var(--bgColor);
    font-family: 'Montserrat-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sa;
    font-size: 2.5rem;
    padding: 16px 0;
    
}
/*
#btn-portfolio {
    background: none;
    border: 1.5px solid var(--bgColor);
    border-radius: 6px;
    color: var(--bgColor);
    padding: 8px 22px;
    margin: 10px 0px;
    font-size: 1rem;
}

#btn-portfolio:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--bgColor);
    border: 1.5px solid var(--bgColor);
}
*/

.text-section {
    display: flex;
    padding: 10% 15%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h3 {
    width: 53%;
    font-size: 2.2rem;
    text-align: center;
    border-bottom: 1px solid rgb(73, 73, 73);
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: 'Montserrat-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 span {
    background: #ffffff;
    padding: 0 10px;
}

.text-section.my-exp {
    /*background: rgb(240, 233, 250); */
    background:  rgb(122, 101, 149);
    color: #ffffff;
    border-bottom: #ffffff;
}

.text-section.my-exp h3 {
    border-bottom: 1px solid #ffffff;
} 

#exp-span{
    background: rgb(122, 101, 149);
    color: #ffffff;
}

.resume-text {
    padding-top: 4%;
    font-size: 22px;
    text-align: center;
}

.resume-btn {
    margin-top: 3%;
    font-size: 0.9em;
    background: none;
    color: #ffffff;
    width: 12rem;
    height: 3rem;
    border-radius: 7px;
    border: 1.6px solid #ffffff;
    cursor: pointer;
    font-family: 'Montserrat-Medium';
}

.resume-btn:hover {
    color: rgba(255, 255, 255, 0.8);
    border: 1.6px solid rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.skills-section {
    padding: 5% 15%;
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat-Medium';
}

.skills-icon-list {
    padding: 6%;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.skill-icon img {
    height: 80px;
    width: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    flex: 2 0 21%;
    margin: 10px;
    align-items: center;
}

.skills-icon-list .skill-icon img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.description-section {
    padding-top: 2.8em;
    text-align: center;
    font-size: 18px;
}

#js {
    height: 77px;
}

.projects-section {
    padding: 7rem 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #efefef;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2em;
}

#work-span {
    background: #efefef;
}

.projects-modal {
    position: relative;
    width: 350px;
    height: 180px;
    margin: 10px 8px;
}

.projects-modal img{
    display: block;
    width: 100%;
    height: 100%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(122, 101, 149, 0.6);
    color: #ffffff;
    font-family: 'Montserrat-Bold', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s;
}

.image-overlay-blur {
    backdrop-filter: blur(5px);
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-title {
    font-size: 1.6em;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > *{
    transform: translateY(0);
}

.modal-container {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
}

.modal h2 {
    color: var(--primaryColor);
}


/* Meda queries */
@media screen and (max-width: 700px){
    header, footer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px 10px;
    }

    .flex-nav {
        padding: 15px 5px;
    }

    h3 {
        width: auto;
        padding-top: 20px;
    }

}

@media screen and (max-width: 960px){
    .projects-section{
        padding: 5rem 2%;
    }
}
